<app-admin-navbar></app-admin-navbar>
<div class="admin_background"> 
    

     <!-- Tabela de Últimos Pedidos (IMPLEMENTAR)-->
    <!-- 
    <div class="orders-section">
      <h3 class="orders-title">Últimos Pedidos</h3>
      <div class="ag-theme-quartz" style="height: 500px; width: 100%;">
        <ag-grid-angular
          style=" height: 400px; width: 1200px;"
          class="ag-theme-quartz-dark"
          [columnDefs]="columnDefs"
          [rowData]="rowData"
          [defaultColDef]="{ sortable: true, filter: true }"
          [gridOptions]="{
            localeText: localeText
          }"
        >
        </ag-grid-angular>
      </div>
    </div>
    -->

</div>