<footer class="footer">
    <div class="footer-container">
        <!-- Seção de Links Principais -->
        <div class="footer-section">
            <h2>Início</h2>
            <a href="/home">Home</a>
            <a href="/perfil">Perfil</a>
        </div>

        <!-- Seção de Links Adicionais -->
        <div class="footer-section">
            <h2>Links Úteis</h2>
            <a href="#">Sobre</a>
            <a href="#">Privacidade</a>
            <a href="#">Termos de Serviço</a>
        </div>

        <!-- Seção de Redes Sociais -->
        <div class="footer-section">
            <h2>Redes Sociais</h2>
            <a href="https://api.whatsapp.com/qr/WCVLMQA46D4YP1?autoload=1&app_absent=0" target="_blank">Whatsapp</a>
            <a href="https://www.instagram.com/timdolelebarao/" target="_blank">Instagram</a>
        </div>
    </div>

    <!-- Seção de Copyright -->
    <div class="footer-copyright">
        <p>&copy; 2025 Tim do Lele. Todos os direitos reservados.</p>
    </div>
</footer>