<footer class="footer">
    <div class="footer-container">
        <img class="logo" src="assets/img/logo-tim-header.png" alt="Logo">
        <div class="footer-info">
            <div class="footer-info-item">
                <span class="footer-info-title">ATENDIMENTO</span>
                <p>Atendimento hoje das 18:00 às 22:45 horas.</p>
            </div>
            <div class="footer-info-item">
                <span class="footer-info-title">ENDEREÇO</span>
                <p>Rua Petrolina, 312, Jardim Mutinga, Barueri-SP</p>
            </div>
        </div>
        <div class="footer-contact">
            <h2>CONTATO</h2>
            <a href="https://wa.me/5516992241633?text=Ol%C3%A1%21%20Gostaria%20de%20fazer%20um%20pedido" target="_blank">Whatsapp</a>
            <a href="https://www.instagram.com/timdolelelanchess/" target="_blank">Instagram</a>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2025 Tim do Lele. Todos os direitos reservados.</p>
            <p class="footer-small">As imagens do site são meramente ilustrativas*</p>
        </div>
    </div>
</footer>
