<footer class="footer">
    <div class="footer-container">
        
        <div class="footer-info">
            <div class="footer-info-item">
                <span class="footer-info-title"><i class="ri-time-line"></i> HORÁRIO DE ATENDIMENTO</span>
                <p> De segunda a sexta atendendo na Barão de Mauá.</p>
            </div>
            <div class="footer-info-item">
                <span class="footer-info-title"><i class="ri-map-pin-2-line"></i> ENDEREÇO</span>
                <p>Rua Petrolina, 312, Jardim Mutinga, Barueri-SP</p>
            </div>
        </div>
        <div class="footer-contact">
            <h2>CONTATO</h2>
            <div class="footer-contact-item">
                <i class="ri-whatsapp-line icon" (click)="openWhatsapp()"></i>
            </div>
            
        </div>
        <div class="footer-copyright">
           
            <p>&copy; 2025 Tim do Lele. Todos os direitos reservados.</p>
            <p class="footer-small">As imagens do site são meramente ilustrativas*</p>
             <img class="logo-footer" src="assets/img/logo-tim.png" alt="Logo">
        </div>
    </div>
</footer>
