.header {
    font-family: "Poppins", sans-serif;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Espaço entre os elementos */
    padding: 0rem 7%;
    background: rgb(172, 60, 60);
    box-shadow: var(--box-shadow);
    border-bottom: 7px solid var(--yellow-color);
}

.header-content {
    font-family: "Poppins", sans-serif;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Espaço entre os elementos */
    padding: 0rem 7%;
}

.checkout-title {
    align-items: center;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 1rem; /* Adiciona margem para separar do botão e logo */
    flex-grow: 1; /* Faz com que o título ocupe o máximo de espaço possível */
    text-align: center; /* Garante que o título fique centralizado */
}

.cart-icon {
    font-size: 2rem; /* Ajusta o tamanho do ícone */
    color: white; /* Deixa o ícone branco */
    margin: 0; /* Remove a margem */
}

a {
    padding-right: 5%;
    text-decoration: none;
}

.cart_home__icon {
    font-size: 2rem; /* Ajuste o tamanho do ícone conforme necessário */
    color: white; /* Cor padrão */
    transition: color 0.1s ease; /* Transição suave para a cor */
}

.cart_home__icon:hover {
    color: var(--yellow-color); /* Muda para o amarelo quando passa o mouse */
}

.logo {
    font-size: 0;
}

.nav {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.7s linear;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
}

.nav a {
    font-size: 1.7vw;
    margin: 0 1rem;
    color: white;
}

.nav a:hover {
    transition: 0.2s;
    font-size: 1.8vw;
    color: var(--yellow-color);
    text-decoration: none;
}

.icons {
    display: flex;
    align-items: center;
}

.icons div {
    display: inline-block;
    height: 2.3rem;
    width: 2.3rem;
    line-height: 2.3rem;
    border-radius: 0.5rem;
    background: rgb(138, 44, 44);
    color: white;
    font-size: 1.5rem;
    margin-left: 0.7rem;
    text-align: center;
    cursor: pointer;
}

.icons div:hover {
    background: var(--yellow-color);
    color: rgb(133, 92, 32);
}

/* Responsividade */
@media screen and (max-width: 768px) {
    /* Garantir que a largura total seja 100% */
    .header {
        padding-right: 3%;
        padding-left: 3%;
        align-items: center; /* Centraliza os itens */
        width: 100%; /* Garante que o header ocupe 100% da largura */
        box-sizing: border-box; /* Garantir que o padding não ultrapasse a largura */
        overflow-x: hidden; /* Evitar barra de rolagem horizontal */
    }

    /* Ajustes para o conteúdo do header */
    .header-content {
        display: flex;
        flex-direction: column; /* Coloca os itens em coluna, com o texto acima do ícone */
        align-items: center; /* Centraliza o conteúdo */
        justify-content: center;
        width: 100%; /* Garante que ocupe a largura inteira */
        box-sizing: border-box; /* Evita que o conteúdo ultrapasse a largura */
    }

    .logo {
        width: 20%; /* Ajusta o tamanho da logo no mobile */
        margin: 0 auto; /* Centraliza a logo */
        max-width: 300px; /* Limita a largura máxima da logo */
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .checkout-title {
        font-size: 150%; /* Ajusta o tamanho da fonte para mobile */
        white-space: nowrap; /* Impede que o texto quebre linha */
        text-align: center; /* Garante o alinhamento central */

        padding: 0; /* Remove padding */
    }

    /* Ajuste para o ícone de carrinho */
    .cart-icon {
        font-size: 2rem;
        color: white;
    }

    /* Ajusta o menu de navegação para o mobile */
    .nav {
        display: none; /* Oculta o menu de navegação em telas menores */
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background: rgb(172, 60, 60);
        width: 100%;
        transition: all 0.3s ease;
    }

    .nav.active {
        display: flex;
    }

    #menu-btn {
        display: inline-block;
    }

    /* Ajusta os ícones */
    .icons {
        display: flex;
        align-items: center;
    }
}
