<div class="background">
    <div class="profile-container">
        <!-- Botão de Voltar -->
        <a routerLink="/home"><i class="ri-arrow-go-back-fill home__icon"></i></a>
    
        <!-- Seção do Perfil -->
        <div class="profile-header">
        <img class="profile-photo" src="../../../../assets/img/profile-picture.png" alt="">
          <h2 class="profile-name">Nome do Usuário</h2>
          <p class="profile-info">Email: usuario&#64;email.com</p>
          <p class="profile-info">Telefone: (16) 91234-5678</p>
        </div>
    
        <!-- Tabela de Últimos Pedidos (IMPLEMENTAR)-->
        <div class="orders-section">
          <h3 class="orders-title">Últimos Pedidos</h3>
          <table class="orders-table">
            <thead>
              <tr>
                <th>Pedido</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>#001</td>
                <td>25/11/2024</td>
                <td>R$ 29,50</td>
                <td>Entregue</td>
              </tr>
              <tr>
                <td>#002</td>
                <td>27/11/2024</td>
                <td>R$ 27,50</td>
                <td>Entregue</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
</div>