<section>
  <div class="background">
      <div class="form">
          <a href="/login"><i class="ri-arrow-go-back-fill home__icon"></i></a>
          <form #form="ngForm" class="form__form" (ngSubmit)="onSubmit(form)">
              <h1 class="form__title">Crie sua conta</h1>
              <img class="form__logo" src="assets/img/logo-tim.png">
              
              <div class="form__content">
                  <!-- Campo Nome -->
                  <div class="form__box">
                      <i class="ri-user-3-line form__icon"></i>
                      <div class="form__box-input">
                          <input type="text" class="form__input" id="register" name="nome" ngModel required placeholder=" ">
                          <label for="register" class="form__label">Nome</label>
                          <div *ngIf="form.controls['nome']?.invalid && form.controls['nome']?.touched" class="error-message">
                              <small>* O Nome é obrigatório.</small>
                          </div>
                      </div>
                  </div>

                  <!-- Campo Telefone -->
                  <div class="form__box">
                      <i class="ri-phone-line form__icon"></i>
                      <div class="form__box-input">
                          <input type="tel" class="form__input" id="register-phone" name="telefone" ngModel required placeholder=" ">
                          <label for="register-phone" class="form__label">Telefone</label>
                          <div *ngIf="form.controls['telefone']?.invalid && form.controls['telefone']?.touched" class="error-message">
                              <small>* O Telefone é obrigatório.</small>
                          </div>
                      </div>
                  </div>

                  <!-- Campo Email -->
                  <div class="form__box">
                      <i class="ri-mail-line form__icon"></i>
                      <div class="form__box-input">
                          <input type="email" class="form__input" id="register-email" name="email" ngModel required email placeholder=" ">
                          <label for="register-email" class="form__label">Email</label>
                          <div *ngIf="form.controls['email']?.invalid && form.controls['email']?.touched" class="error-message">
                              <small *ngIf="form.controls['email']?.errors?.['required']">* O Email é obrigatório.</small>
                              <small *ngIf="form.controls['email']?.errors?.['email']">* Insira um email válido.</small>
                          </div>
                      </div>
                  </div>

                  <!-- Campo Senha -->
                  <div class="form__box">
                      <i class="ri-lock-2-line form__icon"></i>
                      <div class="form__box-input">
                          <input type="password" class="form__input" id="register-pass" name="senha" ngModel required placeholder=" ">
                          <label for="register-pass" class="form__label">Senha</label>
                          <i class="ri-eye-off-line form__eye" id="form-eye" (click)="showHiddenPass('register-pass', 'form-eye')"></i>
                          <div *ngIf="form.controls['senha']?.invalid && form.controls['senha']?.touched" class="error-message">
                              <small>* A senha é obrigatória.</small>
                          </div>
                      </div>
                  </div>

                  <!-- Campo Confirmar Senha -->
                  <div class="form__box">
                      <i class="ri-lock-2-line form__icon"></i>
                      <div class="form__box-input">
                          <input type="password" class="form__input" id="register-confirm-pass" name="confirmar_senha" ngModel required placeholder=" ">
                          <label for="register-confirm-pass" class="form__label">Confirme sua senha</label>
                          <i class="ri-eye-off-line form__eye" id="form-eye-2" (click)="showHiddenPass('register-confirm-pass', 'form-eye-2')"></i>
                          <div *ngIf="form.controls['confirmar_senha']?.touched && form.value.senha !== form.value.confirmar_senha" class="error-message">
                              <small>* As senhas devem coincidir.</small>
                          </div>
                      </div>
                  </div>
              </div>

              <button type="submit" class="form__submit__button" [disabled]="form.invalid">Criar conta</button>
          </form>
      </div>
  </div>

  <!-- Importação dos ícones -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</section>
