<div class="card-container">
  <div *ngFor="let bebida of bebidas; let i = index" class="card">
    <div class="card-body text-center">
      <img [src]="'../../../../assets/img/' + (i + 101) +'.png'" alt="{{ bebida.NOME }}" class="img-fluid">
      <h3 class="card-title">{{ bebida.NOME }}</h3>
      <p class="card-text">Preço: R$ {{ bebida.PRECO.toFixed(2).replace('.', ',') }}</p>
      <button class="btn btn-add-to-cart" (click)="addToCart(bebida)">Adicionar ao Carrinho</button>
    </div>
  </div>
</div>
