.header {
  font-family: "Poppins", sans-serif;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 7%;
  background: rgb(172, 60, 60);
  box-shadow: var(--box-shadow);
  border-bottom:7px solid var(--yellow-color);
}

.logo {
  font-size: 0;
}

.nav {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.7s linear;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  

  a {
      font-size: 1.7vw;
      margin: 0 1rem;
      color: white;

      &:hover {
          transition: 0.2s;
          font-size: 1.8vw;
          color: var(--yellow-color);
          text-decoration: none;
      }
  }
}

.icons {
  display: flex;
  align-items: center;

  div {
      display: inline-block;
      height: 2.3rem;
      width: 2.3rem;
      line-height: 2.3rem;
      border-radius: 0.5rem;
      background: rgb(138, 44, 44);
      color: white;
      font-size: 1.5rem;
      margin-left: 0.7rem;
      text-align: center;
      cursor: pointer;

      &:hover {
          background: var(--yellow-color);
          color: rgb(133, 92, 32);
      }
  }
}

#menu-btn {
  display: none; /* Esconde o ícone do menu em telas grandes */
}

.btn{
  display: inline-block;
  padding: .8rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  background-color: rgb(187, 44, 44);;
  color:#fff;
  cursor: pointer;
}

.btn:hover{
  background-color: var(--yellow-color);
  color: rgb(133, 92, 32);
  text-decoration: none;
}

.search-form {
  position: absolute;
  top: 120%;
  right: -200%;
  width: 30rem;
  height: 2rem;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  transition: right 0.3s linear;

  &.active {
      right: 1%; /* Mostra a barra de pesquisa quando ativa */
      transition: 0.3s linear;
  }

  input {
      height: 100%;
      width: 100%;
      background: none;
      padding-left: 1rem;
      text-transform: none;
      font-size: 1.25rem;
      color: var(--black-color);
      padding: 1 1rem;
  }

  label {
      font-size: 1.5rem;
      padding-right: 1rem;
      color: var(--black-color);
      cursor: pointer;

      &:hover {
          color: var(--yellow-color);
      }
  }
}

.header .shopping-cart{
  align-items: center;
  position: absolute;
  top:120%;
  padding:1rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width: 27rem;
  background: #fff;
  transition: right 0.3s linear;
  max-height: 80vh; /* Define a altura máxima como 80% da altura da tela */
  overflow-y: auto; /* Adiciona barra de rolagem vertical se o conteúdo exceder a altura */
  padding-right: 10px; /* Adiciona espaço extra para o scrollbar */
    right: 1%; /* Mostra a barra de pesquisa quando ativa */

}

.img-cart{
  border-radius: 10px;
  width: 30%;
  height: auto;  
  margin-right: 0.5rem;      
}

.cart-badge {
  position: relative;
  top: 0; /* Alinha no topo */
  right: 0; /* Alinha à direita */
  transform: translate(90%, -50%); /* Ajusta a posição para o canto superior direito */
  background-color: red;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem; /* Reduz o tamanho da fonte */
  font-weight: bold;
  width: 1.5rem; /* Define a largura da bolinha */
  height: 1.5rem; /* Define a altura da bolinha */
  border-radius: 50%; /* Garante o formato circular */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.header .shopping-cart .box{
  display: flex;
  align-items: center;
  gap: 0rem;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc; /* Linha entre os lanches */

}

/* Estilos para o texto dos molhos */
.sauce-text {
  font-size: 14px; /* Tamanho de texto pequeno */
  color: black; /* Cor do texto preta */
  margin: 0px; /* Espaçamento entre os molhos */
  text-align: left; /* Alinha o texto à esquerda */
  word-break: break-word; /* Quebra a palavra se necessário para evitar overflow */
  white-space: normal; /* Permite quebra de linha normal */
  overflow-wrap: break-word; /* Garante que o texto será quebrado em palavras longas */
  max-width: 100%; /* Impede que o texto ultrapasse o limite do contêiner */
  list-style: none;
}

.additionals-text {
  font-size: 14px; /* Tamanho de texto pequeno */
  color: black; /* Cor do texto preta */
  margin: 0px; /* Espaçamento entre os molhos */
  text-align: left; /* Alinha o texto à esquerda */
  word-break: break-word; /* Quebra a palavra se necessário para evitar overflow */
  white-space: normal; /* Permite quebra de linha normal */
  overflow-wrap: break-word; /* Garante que o texto será quebrado em palavras longas */
  max-width: 100%; /* Impede que o texto ultrapasse o limite do contêiner */
  list-style: none;
}


/* Estilo para as observações */
.observations-text {
  font-size: 14px; /* Tamanho de texto pequeno */
  color: black; /* Cor do texto preta */
  text-align: left; /* Alinha o texto à esquerda */
  word-break: break-word; /* Quebra a palavra se necessário para evitar overflow */
  white-space: normal; /* Permite quebra de linha normal */
  overflow-wrap: break-word; /* Garante que o texto será quebrado em palavras longas */
  max-width: 100%; /* Impede que o texto ultrapasse o limite do contêiner */
}


.header .shopping-cart .box .content{
  align-items: start;
}

.header .shopping-cart .box .content h3{
  align-items: start;
  color:rgb(43, 43, 43);
  font-size: 1.5rem;
  text-align: left; /* Alinha o texto à esquerda */
  white-space: normal; /* Permite que o texto quebre em várias linhas */
  overflow: hidden; /* Garante que não haja overflow */
  text-overflow: ellipsis; /* Adiciona '...' caso o texto ultrapasse o limite, se necessário */
}

.empty-cart-message{
  color:rgb(43, 43, 43);
  font-size: 1.25rem;
}

.header .shopping-cart .box .content span{
  color:rgb(61, 61, 61);
  font-size: 1.6rem;
}

.header .shopping-cart .box .content .sauce-text span{
  font-size: 14px; /* Tamanho de texto pequeno */
  color: black; /* Cor do texto preta */
}

.header .shopping-cart .box .content quantity{
  padding-left: 1rem;
}

.header .shopping-cart .total{
  font-size: 1.75rem;  
  padding: 0.5rem;
  text-align: right;
  color: var(--black-color)
}

.header .shopping-cart .btn{
  font-weight: bold;
  display: block;
  text-align: center;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-quantity {
  width: 1.75rem;
  height: 1.75rem;
  border: none;
  background-color: rgb(172, 60, 60);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-quantity:hover {
  background-color: var(--yellow-color);
  color: rgb(133, 92, 32);
}

.quantity-value {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 2rem; /* Para alinhar bem o número */
}

.header .shopping-cart .box .ri-delete-bin-6-line {
  font-size: 1rem; /* Tamanho do ícone da lixeira igual ao do botão */
  color: white; /* Cor do ícone */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(172, 60, 60); /* Fundo igual ao do botão */
  width: 1.75rem; /* Largura do botão */
  height: 1.75rem; /* Altura do botão */
  border-radius: 0.5rem;
  cursor: pointer;
}

.header .shopping-cart .box .ri-delete-bin-6-line:hover {
  background-color: var(--yellow-color);
  color: rgb(133, 92, 32);
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .header {
      padding: 0 2rem;
      
  }

  .nav {
      display: none; /* Oculta o menu de navegação em telas menores */
      flex-direction: column;
      position: absolute;
      top: 100%; /* Exibe o menu abaixo do header */
      right: 0;
      background: rgb(172, 60, 60);
      width: 100%;
      transition: all 0.3s ease;
  }

  .nav.active {
      display: flex; 
  }

  #menu-btn {
      display: inline-block; 
  }

  .icons {
      display: flex;
      align-items: center;
  }

  .header .shopping-cart{
    align-items: center;
    position: absolute; 
    padding:1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 101%;
    background: #fff;
    bottom: -1000%;
    overflow-y: auto; /* Adiciona barra de rolagem vertical se o conteúdo exceder a altura */
    padding-right: 10px; /* Adiciona espaço extra para o scrollbar */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    bottom: 0%;
    height: 85vh!important; /* Define a altura máxima como 80% da altura da tela */
    right: 0%; /* Mostra a barra de pesquisa quando ativa */
    justify-content: flex-end; // fixar embaixo
    align-items: flex-end;     // fixar embaixo

    
  }
  
  .img-cart{
    border-radius: 10px;
    width: 30%;
    height: auto;  
    margin-right: 0.5rem;      
  }
  
  .cart-badge {
    position: relative;
    top: 0; /* Alinha no topo */
    right: 0; /* Alinha à direita */
    transform: translate(90%, -50%); /* Ajusta a posição para o canto superior direito */
    background-color: red;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1rem; /* Reduz o tamanho da fonte */
    font-weight: bold;
    width: 1.5rem; /* Define a largura da bolinha */
    height: 1.5rem; /* Define a altura da bolinha */
    border-radius: 50%; /* Garante o formato circular */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 0rem;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc; /* Linha entre os lanches */
  
  }
  
  /* Estilos para o texto dos molhos */
  .sauce-text {
    font-size: 14px; /* Tamanho de texto pequeno */
    color: black; /* Cor do texto preta */
    margin: 0px; /* Espaçamento entre os molhos */
    text-align: left; /* Alinha o texto à esquerda */
    word-break: break-word; /* Quebra a palavra se necessário para evitar overflow */
    white-space: normal; /* Permite quebra de linha normal */
    overflow-wrap: break-word; /* Garante que o texto será quebrado em palavras longas */
    max-width: 100%; /* Impede que o texto ultrapasse o limite do contêiner */
    list-style: none;
  }
  
  .additionals-text {
    font-size: 14px; /* Tamanho de texto pequeno */
    color: black; /* Cor do texto preta */
    margin: 0px; /* Espaçamento entre os molhos */
    text-align: left; /* Alinha o texto à esquerda */
    word-break: break-word; /* Quebra a palavra se necessário para evitar overflow */
    white-space: normal; /* Permite quebra de linha normal */
    overflow-wrap: break-word; /* Garante que o texto será quebrado em palavras longas */
    max-width: 100%; /* Impede que o texto ultrapasse o limite do contêiner */
    list-style: none;
  }
  
  
  /* Estilo para as observações */
  .observations-text {
    font-size: 14px; /* Tamanho de texto pequeno */
    color: black; /* Cor do texto preta */
    text-align: left; /* Alinha o texto à esquerda */
    word-break: break-word; /* Quebra a palavra se necessário para evitar overflow */
    white-space: normal; /* Permite quebra de linha normal */
    overflow-wrap: break-word; /* Garante que o texto será quebrado em palavras longas */
    max-width: 100%; /* Impede que o texto ultrapasse o limite do contêiner */
  }
  
  
  .header .shopping-cart .box .content{
    align-items: start;
  }
  
  .header .shopping-cart .box .content h3{
    align-items: start;
    color:rgb(43, 43, 43);
    font-size: 1.5rem;
    text-align: left; /* Alinha o texto à esquerda */
    white-space: normal; /* Permite que o texto quebre em várias linhas */
    overflow: hidden; /* Garante que não haja overflow */
    text-overflow: ellipsis; /* Adiciona '...' caso o texto ultrapasse o limite, se necessário */
  }
  
  .empty-cart-message{
    color:rgb(43, 43, 43);
    font-size: 1.25rem;
  }
  
  .header .shopping-cart .box .content span{
    color:rgb(61, 61, 61);
    font-size: 1.6rem;
  }
  
  .header .shopping-cart .box .content .sauce-text span{
    font-size: 14px; /* Tamanho de texto pequeno */
    color: black; /* Cor do texto preta */
  }
  
  .header .shopping-cart .box .content quantity{
    padding-left: 1rem;
  }
  
  .header .shopping-cart .total{
    font-size: 1.75rem;  
    padding: 0.5rem;
    text-align: right;
    color: var(--black-color)
  }
  
  .header .shopping-cart .btn{
    font-weight: bold;
    display: block;
    text-align: center;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .btn-quantity {
    width: 1.75rem;
    height: 1.75rem;
    border: none;
    background-color: rgb(172, 60, 60);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-quantity:hover {
    background-color: var(--yellow-color);
    color: rgb(133, 92, 32);
  }
  
  .quantity-value {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 2rem; /* Para alinhar bem o número */
  }
  
  .header .shopping-cart .box .ri-delete-bin-6-line {
    font-size: 1rem; /* Tamanho do ícone da lixeira igual ao do botão */
    color: white; /* Cor do ícone */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 60, 60); /* Fundo igual ao do botão */
    width: 1.75rem; /* Largura do botão */
    height: 1.75rem; /* Altura do botão */
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .header .shopping-cart .box .ri-delete-bin-6-line:hover {
    background-color: var(--yellow-color);
    color: rgb(133, 92, 32);
  }
}

