<header class="header">
    <img class="logo" src="assets/img/logo-tim-header.png">
    <nav class="nav">
        <a href="/home">Início</a>
        <a href="#burgers">Cachorro-Quente</a>
        <a href="#burgers">Hamburguer</a>
        <a href="#burgers">Frango</a>
        <a href="#bebidas">Bebidas</a>
    </nav>

    <div class="icons">
        <div class="ri-menu-line" id="menu-btn" (click)="toggleMenu()"></div>
        <div class="ri-search-line" id="search-btn" (click)="toggleSearchForm()"></div>
        <div class="ri-shopping-cart-line" id="cart-btn" (click)="toggleCart()">
            <span *ngIf="totalItems > 0" class="cart-badge">{{ totalItems }}</span>
        </div>
        <a href="/perfil">
            <div class="ri-user-line" id="user-btn"></div>
        </a>
    </div>

    <!-- IMPLEMENTAR PESQUISA-->
    <form #searchForm action="" class="search-form">
        <input type="search" id="search-box" placeholder="Pesquise aqui..." class="box">
        <label for="search-box" class="ri-search-line"></label>
    </form>

    <div #cart class="shopping-cart">
      <div *ngIf="cartItems.length === 0" class="empty-cart-message">
        Carrinho Vazio
      </div>
    
      <ng-container *ngIf="cartItems.length > 0">
        <div class="box" *ngFor="let item of cartItems; let i = index">
          <!-- Exibição dinâmica da imagem -->
          <img 
            class="img-cart" 
            [src]="'../../../../assets/img/' + item.ID + '.png'" 
            (error)="handleImgError($event)" 
            alt="{{ item.NOME }}">


          
          <div class="content">
            <h3 class="card-title">{{ item.NOME }}</h3>
            <span class="price">R$ {{ item.PRECO.toFixed(2).replace('.', ',') }}</span>
    
            <!-- Exibir molhos -->
            <p *ngIf="item.sauces" class="sauce-text">
              <span *ngIf="item.sauces.length > 0"><strong>Molhos:</strong></span>
              <span *ngFor="let sauce of item.sauces">{{ sauce }}; </span>
            </p>
    
            <!-- Exibir observação -->
            <p *ngIf="item.observations" class="sauce-text">
              <strong>Observação: </strong> {{ item.observations }}
            </p>
    
            <div class="quantity-controls">
              <!-- Botões para controle de quantidade -->
              <button *ngIf="(item.QUANTITY ?? 0) === 1"
                      class="btn-quantity ri-delete-bin-6-line"
                      (click)="cartService.removeFromCart(item)">
              </button>
              <button *ngIf="(item.QUANTITY ?? 0) > 1"
                      class="btn-quantity"
                      (click)="cartService.decreaseQuantity(item)">
                -
              </button>
              <span class="quantity-value">{{ item.QUANTITY ?? 0 }}</span>
              <button class="btn-quantity"
                      (click)="cartService.increaseQuantity(item)">
                +
              </button>
            </div>
          </div>
        </div>
    
        <div class="total">
          Total: R$ {{ total.toFixed(2).replace('.', ',') }}
        </div>
    
        <a routerLink="/perfil" class="btn">Finalizar Compra</a>
      </ng-container>
    </div>
    
</header>