<app-navbar-checkout></app-navbar-checkout>

<div class="checkout">
  <div class="checkout-time">
    <h1 class="checkout-title">Horário de Retirada</h1>
    <p class="checkout-subtitle">Escolha um horário para retirar seu pedido:</p>
    <input id="horario" type="time" [(ngModel)]="horarioSelecionado" name="horario" placeholder="Selecione o horário" class="input-horario" min="19:00" max="22:00" step="1800" />
  </div>

  <div class="container">
    <!-- Exibindo os itens do carrinho -->


    <div *ngFor="let item of cartItems" class="product-card">
      <!-- Imagem do produto -->
      <img [src]="getImagemPorIdOuTipo(item.ID, item.TIPO)" alt="{{ item.NOME }}" class="product-image"
        (error)="onImageError($event, item.TIPO)" />

      <div class="product-details">
        <!-- Nome do produto -->
        <div class="product-header">
          <h2 class="product-name">{{ item.NOME }}</h2>
          <p class="quantity">Quantidade: {{ item.QUANTITY }}</p>
        </div>

        <!-- Preço do produto -->
        <p class="product-price">R$ {{ formatarPrecoTotalItem(item) }}</p>



        <!-- Exibição de Molhos -->
        <div *ngIf="item.sauces && item.sauces.length > 0" class="sauce-text">
          <strong>Molhos:</strong>
          <ul>
            <li *ngFor="let sauce of item.sauces">{{ sauce }}</li>
          </ul>
        </div>

        <!-- Exibição de Adicionais -->
        <div *ngIf="item.additionals && item.additionals.length > 0" class="additionals-text">
          <strong>Adicionais:</strong>
          <ul>
            <li *ngFor="let adicional of item.additionals">
              {{ adicional.NOME }} - R$ {{ adicional.PRECO.toFixed(2).replace('.', ',') }}
            </li>
          </ul>
        </div>

        <!-- Exibição de Observações -->
        <div *ngIf="item.observations" class="observations-text">
          <strong>Observações:</strong> {{ item.observations }}
        </div>
      </div>
    </div>

  </div>
  <div class=bottom-container>
    <div class="total">
      <p><strong>Total:</strong> R$ {{ total.toFixed(2).replace('.', ',') }}</p>
      <p><strong>Horário de Retirada:</strong> {{ horarioSelecionado }}</p>
    </div>
  </div>

</div>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-buttons">
      <button class="btn-footer" (click)="finalizarPedido()" [disabled]="isLoading || pedidoFinalizado || cartItems.length === 0">
        <span *ngIf="!isLoading && !pedidoFinalizado">Pagamento no Local <i class="ri-bank-card-line"></i></span>
        <span *ngIf="isLoading">Enviando pedido...</span>
        <span *ngIf="pedidoFinalizado">Pedido Finalizado!</span>
      </button>
    </div>
    <div *ngIf="mensagemErro" class="mensagem-erro">{{ mensagemErro }}</div>
    <div *ngIf="mensagemSucesso" class="mensagem-sucesso">{{ mensagemSucesso }}</div>
  </div>
</footer>