/* Container dos Cards */
.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards se ajustem na tela */
    justify-content: flex-start;
    gap: 20px; /* Espaçamento entre os cards */
    margin: 20px 0; /* Margem geral ao redor dos cards */
    padding: 0 2.5%; /* Adiciona padding nas laterais para centralizar e alinhar à esquerda */
}

/* Card */
.card {
    cursor: pointer;
    background-color: rgb(145, 47, 47);
    width: 240px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    position: center;
    display: flex;
    flex-direction: column;
    flex-basis: calc(25% - 20px);
}

.card:hover{
    transition: 0.2s;
    width: 250px;
}

.card img {
    width: 60%;
    height: auto;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    color: var(--yellow-color);
}

.card-text {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: auto;
}

/* Botão Adicionar ao Carrinho */
.btn-add-to-cart {
    background-color: rgb(138, 44, 44);
    font-size: medium;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: calc(100% - 20px); /* Ajuste a largura do botão para ocupar quase todo o card */
     /* Margem aos lados e embaixo */
    position: relative;
    bottom: 10px;
    right: 10px;
}

.btn-add-to-cart:hover {
    background-color: var(--yellow-color);
    color: rgb(133, 92, 32);
}

/* Pop-up Estilos */
.details {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.details-content {
    color: black;
    background-color: white;
    padding: 20px;
    width: 35%;
    border-radius: 8px;
    text-align: center;
    position: relative;
    max-height: 90%; /* Limite máximo de altura */
    overflow-y: auto; /* Permite rolagem se necessário */
    transition: height 0.3s ease; /* Animação suave para mudanças de altura */
}

.details-img {
    width: 60%;
    height: auto;
}

.original-price {
    color: gray;
}

.details-title {
    font-size: 2rem;
    padding-bottom: 5%;
}

/* Botão de fechar */
.close-button {
    color: black;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

/* Ingredientes */
.ingredients-text {
    font-size: 1.2rem;
    color: rgb(99, 99, 99);
    margin: 15px 0;
}

/* Seção de Molhos */
.sauce-section {
    margin-top: 20px;

    .toggle-sauce {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(138, 44, 44);
        color: #fff;
        font-size: 1.1rem;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.2s;

        span {
            margin-left: 10px;
            transition: transform 0.3s;
        }

        &:hover {
            background-color: var(--yellow-color);
            color: rgb(133, 92, 32);
        }

        &.rotated {
            transform: rotate(180deg);
        }
    }

    .sauce-options {
        margin-top: 10px;
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 5px;
        border: 1px solid #ddd;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Duas colunas */
        gap: 10px; /* Espaçamento entre os itens */

        label {
            display: flex;
            align-items: center;
            font-size: 1rem;
            color: #555;
            cursor: pointer;

            input {
                margin-right: 10px;
            }
        }
    }
}

/* Observações */
.observations-section {
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    text-align: left;

    label {
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        display: block;
        margin-bottom: 5px;
    }

    .textarea-container {
        position: relative; /* Necessário para que o ícone seja posicionado relativo a este elemento */
        display: flex;
      }

    textarea {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        font-size: 1rem;
        resize: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        min-height: 80px;
        margin-bottom: 2rem;
    }

    textarea:focus {
        border-color: var(--yellow-color);
        outline: none;
        
    }


    
    /* Contêiner da Textarea */
.textarea-container {
    position: relative; /* Necessário para que o ícone seja posicionado relativo a este elemento */
    display: flex;
  }
  
  /* Estilo da Textarea */
  textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    resize: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 80px;
    
  }

  textarea:focus {
    border-color: var(--yellow-color);
    outline: none;
    
}
  
  /* Ícone de Caneta */
  .icon-pencil {
    position: absolute;
    left: 97%; /* Distância do ícone em relação à borda esquerda */
    top: -12px;
    width: 35px; /* Largura do ícone */
    height: 35px; /* Altura do ícone */
    pointer-events: none; /* Impede que o ícone interfira na interação com o textarea */
    opacity: 0.7; /* Opacidade para suavizar o ícone */
  }
  
}

@media screen and (min-width: 1200px) {
    textarea {
        width: 90%;
    }

    .icon-pencil {
        position: absolute;
        left: 70%; /* Distância do ícone em relação à borda esquerda */
        top: -12px;
        width: 35px; /* Largura do ícone */
        height: 35px; /* Altura do ícone */
        pointer-events: none; /* Impede que o ícone interfira na interação com o textarea */
        opacity: 0.7; /* Opacidade para suavizar o ícone */
    }     
}


/* Telas pequenas (abaixo de 576px) */
@media screen and (max-width: 575.98px) {
    .details-content {
        width: 80%;
        height: 80%;
    }

    .details-img {
        width: 60%;
    }

    .card-container {
        justify-content: center; /* Ajusta o alinhamento para que os cards ocupem 100% da largura no mobile */
        justify-content: center;
        padding: 0%;
    }

    .card {
        flex-basis: 80%; /* Cada card ocupa 100% da largura disponível (1 por linha no mobile) */
        width: auto; /* Ajusta a largura para ocupar toda a linha */
    }
}
