<div class="card-container">
  <div *ngFor="let tipo of lanchesAgrupados" [attr.id]="formatarId(tipo.tipo)">
    <h2 class="tipo-titulo">{{ tipo.tipo }}</h2>
    <div class="grupo-card-container">
      <div *ngFor="let lanche of tipo.lanches" class="card" (click)="openPopup(lanche)" style="position: relative;">
        <div class="card-body">
          <img [src]="getImagemPorIdOuTipo(lanche.ID, tipo.tipo)" alt="{{ lanche.NOME }}" class="img-fluid lanche-image" (error)="onImageError($event, tipo.tipo)"  />
          <div class="text-container">
            <h3 class="card-title">{{ lanche.NOME }}</h3>
            <p class="card-text">Ingredientes: {{ lanche.INGREDIENTES}}</p>
            <p class="card-price">R$ {{ lanche.PRECO.toFixed(2).replace('.', ',') }}</p>
          </div>
          <button class="plus-btn" (click)="openPopup(lanche)">+</button>
        </div>
      </div>
    </div>
  </div>

  <div class="details" *ngIf="isPopupOpen" (click)="onBackdropClick($event)">
    <div class="details-content" (click)="$event.stopPropagation()">
      <span class="close-button" (click)="closePopup()">&times;</span>

      <!-- Layout de Foto -->
      <div class="left-side">
        <img [src]="getImagemPorIdOuTipo(selectedLanche!.ID, selectedLanche!.TIPO)" alt="{{ selectedLanche?.NOME }}" class="details-img" (error)="onImageError($event, selectedLanche!.TIPO)"/>
        <p class="details-warning">* Imagem meramente ilustrativa</p>
      </div>

      
      <!-- Right Side para Título e Conteúdo -->
      <div class="right-side">
        <!-- Título ficará na seção right-side-tittle -->
        <div class="right-side-top">
          <p>{{ selectedLanche?.NOME }}</p>
          
        </div>

        <!-- Conteúdo com rolagem (molhos e observações) -->
        <div class="internal-content">
          <p class="details-price"> R${{ (selectedLanche!.PRECO).toFixed(2).replace('.', ',')}}</p>
          <h2 class="section_tittle">Ingredientes:</h2>
          <p class="ingredients-text">{{ selectedLanche?.INGREDIENTES }}</p> 
          <!-- Opções de Molhos com rolagem -->
          
          <h2 class="section_tittle">
            Molhos:
            <span (click)="toggleSaucesVisibility()" class="arrow-icon">
              <i class="fa" [ngClass]="isSaucesVisible ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </h2>
          <div class="sauce-section">
            <div *ngIf="isSaucesVisible">
              <div class="sauce-options">
                <label>
                  <input type="checkbox" [checked]="areAllSaucesSelected" (change)="toggleAllSauces()" /> Todos
                </label>
                <label *ngFor="let sauce of sauces">
                  <input type="checkbox" [checked]="sauce.selected" (change)="toggleSauce(sauce)" /> {{ sauce.name }}
                </label>
              </div>
            </div>
          </div>

          <h2 class="section_tittle">
            Adicionais:
            <span (click)="toggleAdditionalsVisibility()" class="arrow-icon">
              <i class="fa" [ngClass]="isAdditionalsVisible ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </h2>

          <div class="additionals-section">
            <div *ngIf="isAdditionalsVisible">
              <div class="additionals-options">
  
                <label *ngFor="let Adicional of adicionais">
                  <input type="checkbox" [checked]="Adicional.selected" (change)="toggleAdicional(Adicional)" /> <strong>R${{ Adicional.valor.toFixed(2).replace('.', ',') }}</strong>  - {{ Adicional.name }}
                </label>
              </div>
            </div>
          </div>

          <!-- Observações com rolagem -->
          <h2 class="section_tittle">
            Observações:
            <span (click)="toggleObservationsVisibility()" class="arrow-icon">
              <i class="fa" [ngClass]="isObservationsVisible ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </h2>
        
          <div class="observations-section">
            <div *ngIf="isObservationsVisible">
              <div class="textarea-container">
                <textarea id="observations" rows="3" placeholder="Escreva aqui suas observações..."></textarea>
                <img src="../../../../assets/img/caneta.png" alt="Ícone de Caneta" class="icon-pencil">
              </div>
            </div>
          </div>
        </div>

        

        <div class="right-side-bottom">
          <div class="quantity-container">
            <button class="quantity-btn" (click)="decreaseQuantity()">-</button>
            <span class="quantity-display">{{ selectedLanche!.QUANTITY ?? 1}}</span>
            <button class="quantity-btn" (click)="increaseQuantity()">+</button>
          </div>
          <div class="quantity-container">
            <div *ngIf="selectedLanche">
              <button class="btn-add-to-cart" (click)="addToCart()">
                Adicionar R$ {{ totalSelecionado.toFixed(2).replace('.', ',') }}
              </button>
            </div>
          </div>
        </div> 
      </div>
      
    </div>
  </div>
</div>
