<div class="card-container">
  <div *ngFor="let lanche of lanches" class="card" (click)="openPopup(lanche)">
    <div class="card-body text-center">
      <img src="../../../../assets/img/lanche.png" alt="{{ lanche.NOME }}" class="img-fluid">
      <h3 class="card-title">{{ lanche.NOME }}</h3>
      <p class="card-text">Preço: R$ {{ lanche.PRECO.toFixed(2).replace('.', ',') }}</p>
    </div>
  </div>

  <!-- detalhes do lanche-->
  <div class="details" *ngIf="isPopupOpen" (click)="onBackdropClick($event)">
    <div class="details-content" (click)="$event.stopPropagation()">
      <span class="close-button" (click)="closePopup()">&times;</span>

      <!-- titulo -->
      <h2 class="details-title">{{ selectedLanche?.NOME }}</h2>
      <img src="../../../../assets/img/lanche.png" alt="{{ selectedLanche?.NOME }}" class="details-img">

      <!-- implementar puxar ingredientes do banco -->
      <p class="ingredients-text">{{ selectedLanche?.INGREDIENTES }}</p>

      <!-- Seção de Molhos -->
      <div class="sauce-section">
        <button class="toggle-sauce" (click)="toggleSauceOptions()">
          Opções de Molhos 
          <span [class.rotated]="isSauceOpen">▼</span>
        </button>
        <div class="sauce-options" *ngIf="isSauceOpen">
          <!-- Opção "Todos" -->
          <label>
            <input type="checkbox" [checked]="areAllSaucesSelected" (change)="toggleAllSauces()" /> Todos
          </label>
          <!-- Lista de molhos -->
          <label *ngFor="let sauce of sauces">
            <input 
              type="checkbox" 
              [checked]="sauce.selected" 
              (change)="toggleSauce(sauce)" 
            /> 
            {{ sauce.name }}
          </label>
        </div>
      </div>
      
      <!-- Área de Observações -->
      <div class="observations-section">
        <label for="observations">Observações:</label>
        <div class="textarea-container">
          <textarea id="observations" rows="3" placeholder="Escreva aqui suas observações..."></textarea>
          <img src="../../../../assets/img/caneta.png" alt="Ícone de Caneta" class="icon-pencil">
        </div>
      </div>
      
      <!-- Botão de Adicionar ao Carrinho -->
      <button class="btn btn-add-to-cart" (click)="addToCart()">Adicionar ao Carrinho - R$ {{ (selectedLanche?.PRECO || 0).toFixed(2).replace('.', ',') }}</button>
    </div>
  </div>
</div>
  

<script defer src="card-food.component.ts"></script>