<section>
  <div class="admin_background">
    <div class="admin_form">
      <form action="" class="admin_form__form" #loginForm="ngForm" (ngSubmit)="validarlogin(loginForm)">
        <h1 class="admin_form__title">LOGIN ADMIN</h1>
        
        <div class="admin_form__content">
          <!-- Campo de email -->
          <div class="admin_form__box">
            <i class="ri-user-3-line admin_form__icon"></i>
            <div class="admin_form__box-input">
              <input 
                type="email" 
                required 
                class="admin_form__input" 
                id="login-email" 
                name="email" 
                ngModel 
                email 
                placeholder=" "
              >
              <label for="login-email" class="admin_form__label">Email</label>
              
              <!-- Mensagens de erro para o email -->
              <div *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched" class="admin_error-message">
                <small *ngIf="loginForm.controls['email']?.errors?.['required']">* O Email é obrigatório.</small>
                <small *ngIf="loginForm.controls['email']?.errors?.['email']">* Insira um email válido.</small>
              </div>
            </div>
          </div>

          <!-- Campo de senha -->
          <div class="admin_form__box">
            <i class="ri-lock-2-line admin_form__icon"></i>
            <div class="admin_form__box-input">
              <input 
                type="password" 
                required 
                class="admin_form__input" 
                id="login-pass" 
                name="password" 
                ngModel 
                placeholder=" "
              >
              <label for="login-pass" class="admin_form__label">Senha</label>
              <i class="ri-eye-off-line admin_form__eye" id="form-eye" (click)="showHiddenPass('login-pass', 'form-eye')"></i>
              
              <!-- Mensagens de erro para a senha -->
              <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched" class="admin_error-message">
                <small>* A senha é obrigatória.</small>
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="admin_form__submit__button" [disabled]="loginForm.invalid">Login</button>
      </form>
    </div>
  </div>
</section>
